<a href="https://colab.research.google.com/github/saadkamal219/Artificial_Intilligence/blob/main/Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This program is known as **GIGO** [ **Garbaje In Garbaje Out** ]

And wrapping all of it is known as **Data Cleaning**

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

dataframe = pd.read_csv('/content/drive/MyDrive/Machine Learning Dataset/healthcare-dataset-stroke-data.csv')

dataframe.sample(10)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
4326,3013,Female,79.0,0,0,Yes,Self-employed,Rural,83.70,28.7,never smoked,0
1252,46576,Male,2.0,0,0,No,children,Rural,68.52,20.8,Unknown,0
2425,67758,Male,9.0,0,0,No,children,Urban,114.99,18.8,Unknown,0
2111,49254,Male,57.0,1,0,Yes,Private,Urban,80.72,41.5,formerly smoked,0
848,50826,Female,53.0,0,0,Yes,Govt_job,Rural,189.49,25.8,Unknown,0
707,72882,Male,47.0,0,0,Yes,Private,Rural,75.30,25.0,formerly smoked,0
4078,72011,Male,51.0,0,0,No,Self-employed,Rural,87.15,26.4,formerly smoked,0
3373,47499,Female,48.0,0,0,Yes,Govt_job,Rural,77.55,26.2,Unknown,0
1788,17926,Female,48.0,0,0,Yes,Govt_job,Rural,111.64,27.9,Unknown,0
2706,38796,Female,54.0,0,0,Yes,Private,Urban,99.83,22.7,formerly smoked,0

In [ ]:
dataframe.describe()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,4909.000000,5110.000000
mean,36517.829354,43.226614,0.097456,0.054012,106.147677,28.893237,0.048728
std,21161.721625,22.612647,0.296607,0.226063,45.283560,7.854067,0.215320
min,67.000000,0.080000,0.000000,0.000000,55.120000,10.300000,0.000000
25%,17741.250000,25.000000,0.000000,0.000000,77.245000,23.500000,0.000000
50%,36932.000000,45.000000,0.000000,0.000000,91.885000,28.100000,0.000000
75%,54682.000000,61.000000,0.000000,0.000000,114.090000,33.100000,0.000000
max,72940.000000,82.000000,1.000000,1.000000,271.740000,97.600000,1.000000

In [ ]:
dataframe.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [ ]:
dataframe.count()

id                   5110
gender               5110
age                  5110
hypertension         5110
heart_disease        5110
ever_married         5110
work_type            5110
Residence_type       5110
avg_glucose_level    5110
bmi                  4909
smoking_status       5110
stroke               5110
dtype: int64

In [ ]:
dataframe.isnull()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,True,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,False,False,False,False,False,False,False,False,False,True,False,False
5106,False,False,False,False,False,False,False,False,False,False,False,False
5107,False,False,False,False,False,False,False,False,False,False,False,False
5108,False,False,False,False,False,False,False,False,False,False,False,False
5109,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
dataframe.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [ ]:
dataframe.count()

id                   5110
gender               5110
age                  5110
hypertension         5110
heart_disease        5110
ever_married         5110
work_type            5110
Residence_type       5110
avg_glucose_level    5110
bmi                  4909
smoking_status       5110
stroke               5110
dtype: int64

In [ ]:
new_dataframe = dataframe.dropna()

In [ ]:
new_dataframe.isnull().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [ ]:
new_dataframe.count()

id                   4909
gender               4909
age                  4909
hypertension         4909
heart_disease        4909
ever_married         4909
work_type            4909
Residence_type       4909
avg_glucose_level    4909
bmi                  4909
smoking_status       4909
stroke               4909
dtype: int64